<div id="slider">
  <div id="dateSlider"></div>
</div>

<div id="outer_map_cartodb_container">
  <h1 class="rotate">Geo Stats</h1>
  <div id="map_cartodb_container"></div>
  <div id="upload">
    <%= form_tag({ action: 'upload' }, class: 'upload-form', multipart: true) do %>
      <%= label_tag :file, 'Upload a CSV File' %>
      <%= file_field_tag :file %>
      <%= submit_tag 'Upload' %>
    <% end -%>
  </div>
  
  <div id="example-data">
    <a class="example-link" href="/map?example=1">
      Check out some example data
    </a>
  </div>
  
  <a href="https://cartodb.com" class="cartodb_logo" target="_blank">CartoDB</a>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#example-data').click(function(ev) {
      window.location.href = '/map?example=1';
      return false;
    })
  })
</script>
