<script src="./js/carto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="js/leaflet.js"></script>
<script type="text/javascript" src="js/wax.leaflet.min.js"></script>
<script type="text/javascript" src="js/cartodb-leaflet.js"></script>
<script src="./js/map_global.js" type="text/javascript" charset="utf-8"></script>

<div id="slider">
  <div id="dateSlider">Welcome to GeoStats. In this app you can upload your location data from <a href="http://openpaths.cc">OpenPaths</a> and analyze it. By looking at where you have been we can detect how you travel, where you travel and tell you lot of different things. The application anonymize your data so dont be scared and try it. Check out the video</div>
</div>

<div id="outer_map_cartodb_container">
  <h1 class="rotate">Geo Stats</h1>
  <div id="map_cartodb_container"></div>
  <div id="upload">
    <%= form_tag({ action: 'upload' }, class: 'upload-form', multipart: true) do %>
      <%= label_tag :file, 'Upload a CSV File' %>
      <%= file_field_tag :file %>
      <%= submit_tag 'Upload' %>
      
      <span id="or">or</span>
      <span id="example">
        <a href="/map?session=3a6927f4c9adbf2f">check out an example</a>
      </span>
    <% end -%>
  </div>
  
  <a href="https://cartodb.com" class="cartodb_logo" target="_blank">CartoDB</a>
</div>

  <div id="dateSlider">To know how to upload your OpenPaths data Check out this video.<br><br></div>
<iframe src="http://player.vimeo.com/video/42078774?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="960" height="500" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
