<%= content_for :head do %>
  <script src="./js/map.js" type="text/javascript" charset="utf-8"></script>
<% end -%>

<div id="slider">
  <div id="dateSlider"></div>
</div>

<div id="outer_map_cartodb_container">
  <h1 class="rotate">Geo Stats</h1>
  <div id="map_cartodb_container"></div>
  <span class="cartodb_map_controls">
    <a href="#zoom_in" class="cartodb_map_embed_zoom_in" onclick="map.zoomIn()">+</a>
    <a href="#zoom_out" class="cartodb_map_embed_zoom_out" onclick="map.zoomOut()">-</a>
  </span>
  <a href="https://cartodb.com" class="cartodb_logo" target="_blank">CartoDB</a>
</div>

<div id="quickstats">
  <div class="stat" id="distance"><span class="label">Distance: </span>12,053 km</div>
  <div class="stat" id="speed"><span class="label">Average Speed: </span>9.8 mph</div>
</div>

<div id="charts">
</div>

<script src="./js/chart1.js" type="text/javascript" charset="utf-8"></script>
<script src="./js/chart2.js" type="text/javascript" charset="utf-8"></script>

<%= form_tag({ action: 'upload' }, class: 'upload-form', multipart: true) do %>
  <%= label_tag :file, 'Upload a CSV File' %>
  <%= file_field_tag :file %>
  <%= submit_tag 'Upload' %>
<% end -%>
